.profile-card {
  background: rgb(236, 236, 236);
  border: 1px solid lightgray;
  margin: 20px 30px;
  padding: 20px;
  color: black;
}

img {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  vertical-align: top;
}

.user-data {
  display: inline-block;
  margin: 0 10px 20px;
  vertical-align: top;
  h2 {
    margin-bottom: 10px;
  }
}

button {
  margin: 0 10px;
}
