<div class="profile-card" *ngIf="user && !isLoggedOut">
  <img *ngIf="author && author.photoUrl" [src]="author.photoUrl" alt="Author image" />
  <img *ngIf="!author || !author.photoUrl" [src]="user.photoUrl" alt="User image" />

  <div class="user-data" *ngIf="author">
    <ng-container *ngIf="author.userId">
      <h2>{{ author.fullname }}</h2>
      <p><span>Email: </span><strong>{{ author.email }}</strong></p>
      <p><span>City: </span><strong>{{ author.city }}</strong></p>
      <p><span>Country: </span><strong>{{ author.country }}</strong></p>
      <button mat-flat-button (click)="editAuthor()" color="primary">
        Edit Author
      </button>
      <button mat-flat-button (click)="removeAuthor()" color="warn">
        Delete Author
      </button>
    </ng-container>
    <ng-container *ngIf="!author.userId">
      <h2>{{ user.fullname }}</h2>
      <p><span>Email: </span><strong>{{ user.email }}</strong></p>
      <button mat-flat-button (click)="createAuthor()" color="primary">
        Become an author!
      </button>
    </ng-container>
  </div>
</div>

<div class="profile-card" *ngIf="isLoggedOut || !user">
  <h4>
    Please
    <button color="primary" (click)="goToLogin()" mat-flat-button>
      Login
    </button>
    if you want to be involved in chat
  </h4>
</div>
