<div class="app-container" [class.is-mobile]="mobileQuery.matches" >

  <app-header
    (toggleClicked)="sidenav.toggle()"
    (logoutEvent)="isLoggedOut = true">
  </app-header>

  <mat-sidenav-container
    class="sidenav-container">

    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      position="end">
      <app-chat
      (swiperight)="sidenav.toggle()"></app-chat>
    </mat-sidenav>

    <mat-sidenav-content (swipeleft)="sidenav.toggle()">
      <app-profile [isLoggedOut]="isLoggedOut"></app-profile>
      <app-notes></app-notes>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
