.mat-button {
  background: white;
  position: fixed;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 1px rgb(64, 130, 160);
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  color: rgb(64, 130, 160);
  font-size: 25px;
}
