:host ::ng-deep mat-dialog-container.mat-dialog-container {
  background: white;
}

form {
  text-align: center;
}

mat-form-field {
  display: block;
  width: 400px;
  max-width: 90vw;
  margin: 5px auto;
}

button {
  margin: 5px auto;
  padding: 5px 25px;
  text-transform: uppercase;
}
